@import '../settings';

.fil_messages{
    background-color: white;

}
body, .wholepage{
    background-color: white !important;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post_form{
    background-color: $home-grey !important;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 20px;
    .top{
        background-color: white;
        width: 98%;
        margin-left: auto;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        img{
            width: 97%;
            border-radius: 19px 19px 0px 0px;
            max-width: 1200px;
            max-height: 300px;
            min-height: 125px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }

        h1, h2{
            margin-left: 40px;
        }
        h2{
            color: $home-darkgrey;
            font-size: 18px;
            padding-bottom: 20px;
            margin-top: -5px;
            padding-left: 2px;
            font-weight: 400;
        }

    .top_title{
            display: flex;
            flex-direction: row;
            margin-left: 40px;
            align-items: center;
            h1{
                background-color: $color-1;
                color: white;
                border-radius: 10px;
                font-size: 24px;
                padding: 12px;
                margin: 0 !important;
                border: 3px solid $color-2;
                margin-top: -45px !important;
            }
            h2{
                color: $home-darkgrey;
                margin-left: 10px;
                font-size: 14px;
                margin-top: 10px;
            }
        }

        .bottom_title{
            display: flex;
            color: $home-darkgrey;
            flex-direction: row;
            border-top: 3.5px solid $home-grey;
            h1{
                margin-bottom: 0px;
                font-size: 19px;
                padding: 0px 14px 14px 14px;
                padding-top: 7px;
                transition: 0.35s;
                border-bottom: 3px solid white;
            }
            .navclicked{
                border-bottom: 3px solid $color-1;

            }
        }
        .bottom_title >h1:hover{
            .navclicked{
                border-bottom: 3px solid white;
            }
            color: black;
            transform: translateX(1px);
            border-bottom: 3px solid $color-1;
        }
    }

    .newpost{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        background-color: white;
        margin-right: auto;
        padding: 10px;
        border-radius: 20px;
        width: 96%;

        .left{
            padding-left: 15px;
            display: block;
            .imgdiv{
                position: relative;
                top: 15%;
            }
            img{
                width: 80px;
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 20px;
            }
            width: max-content;
        }

        .right{
            margin-top: 25px;
            margin-left: 35px;
            width: 100%;
            display: inline-block;
            flex-direction: column;
            justify-content: space-around;
            vertical-align: middle;
            height: max-content;
            align-items: center;
            .top{
                margin-left: 0px;
                background-color: transparent;
                    .desc_input{
                        margin-left: 0px;
                        width: 95%;
                        padding: 15px;
                        border-radius: 13px;
                        border: 2px solid white;
                        background-color: $home-grey;
                        font-size: 18px;
                        color: $home-darkgrey;
                    }
            }

            .bottom{
                width: 97%;
                font-size: 26px;
                display: flex;
                flex-direction: row;
                height: max-content;
                justify-content: space-between;
                    button{
                        background-color: $color-1;
                        color: white;
                        padding: 15px;
                        height: max-content;
                        margin-top: 10px;
                        font-size: 17px;
                        float: right;
                        border: 0px solid;
                        border-radius: 15px;
                        box-shadow: 5px 5px 0px $color-2;
                        transition: 0.35s;
                    }
                    button:hover{
                        box-shadow: 0px 0px 0px $color-2;
                        transform: translateX(-5px);
                    }
                    .imgbtn{
                        margin-left: 7px;
                        margin-top: auto;
                        transition: 0.3s;
                        word-spacing: 10px;
                        color: $home-darkgrey;
                    }
                    .imgbtn:hover{
                        transform: translateX(4px);
                        color: black;
                    }
                    h3{
                        transition: 0.4s;
                        font-weight: 400;
                        width: max-content;
                        font-size: 22px;
                    }
                    input{
                        display: none;
                    }
            }
         }
    }

}
.fil_messages{
    margin-top: -20px;
    background-color: $home-grey !important;
    padding: 30px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}