@import '../settings';
.home_div{
    height: 90vh;
    margin: auto;
    max-height: 90vh;
    margin-top: 30px;
    width: 92%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    .home_template{
        width: 91%;
        max-height: 95%;
        border-radius: 30px;
        margin-top: 12%;
        box-shadow: 10px 10px 17px $color-5;
        border:  thick double $color-5;
    }
    text-align: center;
    h2{
        font-weight: 300;
        font-size: 17px;
    }

    .groupomania_logo{
        width: 160px;
    }


    .content{
        background-color: white;
        color: #292929;
        height: max-content;
        margin-top: auto;
        margin-bottom: auto;
        h1{
            margin-top: 0px;
        }
        button{
            width: 80%;
            padding: 15px;
            font-size: 18px;
            background-color: $color-1;
            border: 2px solid $color-6;
            border-radius: 15px;
            box-shadow: 4px 4px 0px $color-6;
            transition: 0.3s;
            word-spacing: 1px;
            color: black;
        }
        button:hover{
            box-shadow: 1px 1px 0px $color-6;
            transform: translateY(-1px);
        }
    }
}

@media screen and  (max-width: 768px){
    .home_div{
        flex-direction: column;
    }
   .home_template{
    margin-top: 3vh !important  ;
   }
   .content{
    order: -1;
   }
}