@import '../settings';
.home_div{
    height: 90vh;
    margin: auto;
    max-height: 90vh;
    margin-top: 30px;
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 25px;
    .image{
        margin-top: auto;
        margin-bottom: auto;
        .home_template{
            width: 90%;
            max-height: 95%;
            border-radius: 30px;
            box-shadow: 4px 4px 0px $color-6;
            border: 2px solid  $color-6;
            transition: 0.7s;
        }
        .home_template:hover{
            transform: translateX(-5px);
            box-shadow: 0px 0px 0px $color-6;
        }
    }

    text-align: center;


    .groupomania_logo{
        border-bottom: 2px solid black;
        padding-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 40px;
        width: 210px;
    }


    .content{
        transition: 0.3s;
        background-color: $color-2;
        border: 2px solid $color-5;
        box-shadow: 5px 5px 0px $color-5;
        border-radius: 10px;
        color: #292929;
        height: max-content;
        padding: 15px;
        margin-top: auto;
        width: 80%;
        margin-bottom: auto;
        h1{
            margin-top: 30px;
            font-weight: 900;
            color: rgb(255, 255, 255);
            -webkit-text-stroke: 1px black;
            text-shadow: 1px 2px 0px black;
            font-size: 35px;
        }
        h2{
            color: white;
            padding: 20px;
            font-size: 17px;
            font-weight: 400;
            margin-left: 50px;
            margin-right: 50px;
            border-radius: 20px;
            background-color: $color-5;
        }
        h3{
            font-weight: 400;
            font-size: 22px;
        }
        span{
            color: $color-1;
            font-weight: 700;
        }
        h4{
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-weight: 400;
            font-size: 17px;
        }
        h4:before{
                content: "";
                display: block;
                width: 33%;
                height: 2px;
                background: black;
                right: 0;
                top: 0.7rem;
                margin-right: 20px;
                position: relative;
            
        }
        h4:after{
            content: "";
            display: block;
            width: 33%;
            height: 2px;
            background: black;
            right: 0;
            margin-left: 20px;
            top: 0.7rem;
            position: relative;
        }
        h5{
            font-weight: 300;
            font-size: 15px;
        }
        button{
            width: 80%;
            padding: 15px;
            font-size: 18px;
            background-color: $color-1;
            border: 2px solid $color-6;
            border-radius: 15px;
            box-shadow: 4px 4px 0px $color-6;
            transition: 0.3s;
            word-spacing: 1px;
            color: white;
        }
        button:hover{
            box-shadow: -0.5px 0.5px 0px $color-6;
            transform: translateY(3px);
        }

        .btn-2{
            background-color: rgb(255, 201, 201);
            color: $color-6;
        }
    }

    .content:hover{
        box-shadow: 0px 0px 0px $color-5;
        transform: translateX(1px);
    }
}
@media screen and  (max-width: 375px){
    .groupomania_logo{
        border-bottom: 0px solid !important;
    }
}

@media screen and  (max-width: 768px){

    .home_div{
        display: flex;
        flex-direction: column;
        .image{
            margin-left: initial;
        }
        .content{
            margin: auto;
        }
    }
   .home_template{
    margin-top: 3vh !important  ;
   }
   .content{
    order: -1;
   }
}