@import '../settings';
.home_div{
    height: 90vh;
    margin: auto;
    max-height: 90vh;
    margin-top: 30px;
    width: 92%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    .image{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -100px;
        .home_template{
            width: 70%;
            max-height: 95%;
            border-radius: 30px;
            box-shadow: 4px 4px 0px $color-6;
            border: 2px solid  $color-6;
        }
    }

    text-align: center;


    .groupomania_logo{
        width: 160px;
    }


    .content{
        background-color: $color-2;
        box-shadow: 5px 5px 0px $color-5;
        border-radius: 0px 0px 20px 20px;
        color: #292929;
        height: max-content;
        padding: 10px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -70px;
        h1{
            margin-top: 0px;
            text-shadow: 1px 1px rgb(173, 173, 173);
        }
        h2{
            color: $color-1;
            font-weight: 400;
        }
        h3{
            font-weight: 300;
            font-size: 17px;
        }
        button{
            width: 80%;
            padding: 15px;
            font-size: 18px;
            background-color: $color-1;
            border: 2px solid $color-6;
            border-radius: 15px;
            box-shadow: 4px 4px 0px $color-6;
            transition: 0.3s;
            word-spacing: 1px;
            color: white;
        }
        button:hover{
            box-shadow: 1px 1px 0px $color-6;
            transform: translateY(-1px);
        }
    }
}

@media screen and  (max-width: 768px){

    .home_div{
        flex-direction: column;
        .image{
            margin-left: initial;
        }
        .content{
            margin-left: initial;
        }
    }
   .home_template{
    margin-top: 3vh !important  ;
   }
   .content{
    order: -1;
   }
}