@import '../settings';

/* PC PORTABLE */
@media screen and  (max-width: 1024px){
    .header{
        h1{
            font-size: 24px;
        }
        span{
            font-size: 17px;
        }
        .editprofile{
            padding: 7px !important;
            h2{
                font-size: 17px;
            }
        }
    }
    .fil_members{
        .cards-member{
            grid-template-columns: auto auto ;
        }
    }
}

/* TABLETTE */
@media screen and  (max-width: 768px){
    .header{
        p{
            font-size: 16px;
            margin-left: 20px;
        }
        h1{
            margin-left: 20px;
            font-size: 21px;
        }
        span{
            font-size: 13px;
        }
        .edit{
            h2{
                font-size: 13px;
            }
        }
        .editprofile{
            padding: 4px !important;
        }
    }
    .post_form{
        width: 75%;
    }
    .fil_messages{
        width: 75%;
    }
    .newpost{
        .right{
            input{
               width: 85% !important;
            }
            .bottom{
                h3{
                    font-size: 15px !important;
                }
                button{
                    font-size: 15px !important;
                }
            }
        }
        padding-bottom: 20px !important;
    }
}

 /* PHONE */
 @media screen and  (max-width: 425px){
    body{
        overflow-x: hidden;
    }
    .header{
        flex-direction: column;
        h1, p{
            margin: auto !important;
            margin-top: 20px !important;
            margin-bottom: 15px !important;
        }
        .edit{
            flex-direction: column;
        }
        .editprofile{
            span{
                font-size: 20px !important;
            }
            padding: 15px !important;
            margin: auto !important;
        }
        .disconnect{
            border-radius: 20px;
            margin: auto !important;
            background-color: $color-2 !important;
            margin-top: 20px !important;
            font-size: 18px !important;
        }
    }
    .top{

        h4{
            margin-left: 12px !important;
        }
        
        .top_title{
            flex-direction: column !important;
    
        }
    }
    .top >h1{
        margin-left: 12px !important;
        font-size: 20px !important;
        padding-bottom: 10px !important;
    }
    .newpost{
        flex-direction: column !important;
        .right{
            margin-left: 0px !important;
        }
    }
    .post_form{
        width: 74%;
    }
    .fil_messages{
        width: 74%;
    }
    .fil_members{
        .cards-member{
            grid-template-columns: auto ;
        }
        h1{
            font-size: 20px !important;
        }
        h6{
            margin-left: auto !important;
            margin-right: auto !important;
            font-size: 19px !important;
        }
    }


 }

  /* mini PHONE */
  @media screen and  (max-width: 375px){
    .bottom_title{
        h1{
            font-size: 15px !important;
        }
    }
  }
    /* mini mini PHONE */
    @media screen and  (max-width: 320px){
        .bottom_title{
            h1{
                padding: 5px !important;
            }
        }
      }