@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Shrikhand&display=swap');

$main-font: 'Lato', sans-serif;

$color-1 : #FD2D01;
$color-2 : #FFD7D7;
$color-3 : #4E5166;
$color-4 : #ffecec;
$color-5 : #e4b2b2;
$color-6: rgb(174, 48, 48);

$home-grey: rgb(237, 239, 245);
$home-semigrey : rgb(195, 199, 211);
$home-darkgrey : rgb(118, 118, 118);
$home-shadow :  rgb(210, 210, 210);

$font-black: #1f1f1f;
$font-lightgray: #a5a5a5;
$font-grey: #737373;
$white: #ffffff;
$form-border-radius: 15px;

@mixin verticalCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    font-family: $main-font;
    text-decoration: none;
}