@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Shrikhand&display=swap");
* {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.message_div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 70px;
  color: rgb(42, 42, 42);
  border-bottom: 6px solid rgb(195, 199, 211);
  border-radius: 22px;
}
.message_div img {
  width: 100px;
}
.message_div .top_msg {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-top: 23px;
  padding-bottom: 18px;
  width: 100%;
  flex-direction: row;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 3px solid rgb(237, 239, 245);
  justify-content: space-between;
}
.message_div .top_msg img {
  margin-top: 5px;
  width: 80px;
  height: 80px;
  border-radius: 25%;
}
.message_div .top_msg .profile {
  display: flex;
  flex-direction: row;
}
.message_div .top_msg .profile h1 {
  font-size: 35px;
  color: rgb(118, 118, 118);
}
.message_div .top_msg .profile h2 {
  font-size: 20px;
  margin-top: 33px;
}
.message_div .top_msg .prfl_left {
  margin-left: 30px;
}
.message_div .top_msg .prfl_left h2 {
  margin-left: 14px;
}
.message_div .top_msg .prfl_right {
  flex-direction: row-reverse;
  margin-right: 30px;
}
.message_div .top_msg .prfl_right h2 {
  margin-right: 14px;
}
.message_div .top_msg .descdiv {
  text-align: left;
  display: flex;
  flex-direction: row;
}
.message_div .top_msg .descdiv h1 {
  font-size: 25px;
}
.message_div .top_msg .descdiv h2 {
  font-size: 20px;
  margin-top: -15px;
  font-weight: 300;
  color: rgb(118, 118, 118);
}
.message_div .top_msg .descdiv .textdiv {
  display: flex;
  flex-direction: column;
}
.message_div .left {
  /* justify-content: end; */
}
.message_div .left img {
  margin-left: 15px;
  margin-right: 30px;
}
.message_div .left .descdiv {
  text-align: right;
}
.message_div .right {
  text-align: right;
  flex-direction: row-reverse;
  /* justify-content: start; */
}
.message_div .right img {
  margin-left: 30px;
  margin-right: 15px;
}
.message_div .right .descdiv {
  flex-direction: row-reverse;
}
.message_div .mid_msg {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.message_div .mid_msg h2 {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 20px;
}
.message_div .mid_msg .imgdiv {
  justify-content: center;
  display: flex;
  width: 100%;
}
.message_div .mid_msg .imgdiv img {
  width: 92%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.message_div .bottom_msg {
  border-top: 3px solid rgb(237, 239, 245);
  padding: 20px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
}
.message_div .bottom_msg .inf_msg {
  width: 100%;
}
.message_div .bottom_msg .inf_msg h2 {
  float: left;
  margin-top: 33px;
  color: rgb(118, 118, 118);
  font-weight: 500;
}
.message_div .bottom_msg .inf_msg h3, .message_div .bottom_msg .inf_msg h4 {
  float: right;
}
.message_div .bottom_msg .inf_msg h3 {
  color: #FD2D01;
  font-size: 27px;
  margin-top: 39px;
  margin-right: 13px;
}
.message_div .bottom_msg .inf_msg h4 {
  padding: 10px 13px 10px 13px;
  border-radius: 50%;
  background-color: #FFD7D7;
  color: #FD2D01;
  font-size: 23px;
  transition: 0.2s;
  border: 2px solid white;
}
.message_div .bottom_msg .inf_msg h4:active {
  color: white;
  background-color: #FD2D01;
}
.message_div .bottom_msg .inf_msg h4:hover {
  border: 2px solid #FD2D01;
  transform: scale(1.1);
}
.message_div .bottom_msg .edit_msg {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}
.message_div .bottom_msg .edit_msg button {
  padding: 15px;
  border: 0px solid;
  font-size: 18px;
  background-color: #FD2D01;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px solid white;
}
.message_div .bottom_msg .edit_msg .delete {
  background-color: #FFD7D7;
  color: #FD2D01;
}
.message_div .bottom_msg .edit_msg .delete:hover {
  border: 2px solid #FD2D01;
}

.message_div:hover {
  border-left: 2px solid rgb(195, 199, 211);
  border-right: 2px solid rgb(195, 199, 211);
  border-top: 2px solid rgb(195, 199, 211);
}/*# sourceMappingURL=post.css.map */