.message_div{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 70px;
    color: rgb(42, 42, 42);
    img{
        width: 100px;
    }

    .top_msg{
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        display: flex;
        width: 100%;
        flex-direction: row;
        border-radius: 20px 20px 0px 0px;
        img{
            width: 60px;
            height: 60px;
            margin-right: 15px;
            margin-left: 30px;
            margin-top: 8px;
        }
    }
    .left{
        justify-content: end;
        background-color: red;
    }
    .right{
        flex-direction: row-reverse;
        justify-content: start;
        background-color: rgb(209, 108, 108);
    }
    .mid_msg{
        background-color: white;
    }
    .bottom_msg{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0px 0px 20px 20px;
        h2{
            float: left;
        }
        h3{
            float: right;
        }
    }


}